@import "../../variables/variables.scss";

.astudio__brand {
  display: flex;
  margin-top: 136px;

  &-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
  }

  &-img {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }

  &-img div {
    margin-right: 60px;
  }
  &-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $greyColor;
  }
}

.section__heading {
  margin-left: 120px;
}
