@import "../../variables/variables.scss";

.astudio__client {
  margin-top: 90px;
  & {
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      color: $blackColor;
      margin: 0;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: $greyColor;
    }
  }
}
