@import "../../variables/variables.scss";
@import "../../mixins/mixins.scss";

.astudio {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__link_logo {
    margin-left: 120px;
    margin-top: 42px;
  }

  &__link_links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 45px;
    p a {
      // font-family: Arial, Helvetica, sans-serif;
      // font-size: 16px;
      text-decoration: none;
      // font-weight: 400;
      // line-height: 20px;
      @include text();
      line-height: 20px;
      margin-right: 60px;
      color: $blackColor;
    }
  }
}
