@mixin text() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin text-1() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

@mixin text-3() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
